<div *ngIf="comment" class="bg-white border-slate-100 border-2 rounded-lg p-3">
    <div class="flex">
        <div class="hidden md:flex flex-col w-11 h-24 justify-between items-center bg-slate-100 text-indigo-700 font-bold px-3 mt-1 mr-3 py-2 rounded-xl">
            <div (click)="increaseScore()" class="cursor-pointer">
                <svg class="control-icon"  width="11" height="11" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.33 10.896c.137 0 .255-.05.354-.149.1-.1.149-.217.149-.354V7.004h3.315c.136 0 .254-.05.354-.149.099-.1.148-.217.148-.354V5.272a.483.483 0 0 0-.148-.354.483.483 0 0 0-.354-.149H6.833V1.4a.483.483 0 0 0-.149-.354.483.483 0 0 0-.354-.149H4.915a.483.483 0 0 0-.354.149c-.1.1-.149.217-.149.354v3.37H1.08a.483.483 0 0 0-.354.15c-.1.099-.149.217-.149.353v1.23c0 .136.05.254.149.353.1.1.217.149.354.149h3.333v3.39c0 .136.05.254.15.353.098.1.216.149.353.149H6.33Z" fill="#C5C6EF"/>
                </svg>
            </div>
            <span>{{comment.score}}</span>
            <div (click)="decreaseScore()" class="cursor-pointer mb-1">
                <svg class="control-icon" width="11" height="3" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.256 2.66c.204 0 .38-.056.53-.167.148-.11.222-.243.222-.396V.722c0-.152-.074-.284-.223-.395a.859.859 0 0 0-.53-.167H.76a.859.859 0 0 0-.53.167C.083.437.009.57.009.722v1.375c0 .153.074.285.223.396a.859.859 0 0 0 .53.167h8.495Z" fill="#C5C6EF"/>
                </svg>
            </div>
        </div>
        <div class="w-full">
            <div class="flex justify-between items-center">
                <div class="flex justify-start items-center">
                    <div class="w-8 mr-4">
                        <img [src]="comment.user.image.png" alt="avatar image" class="w-full h-auto">
                    </div>
                    <div class="font-bold text-base mr-1 max-w-2xs break-words">
                        {{comment.user.username}}
                    </div>
                    <div *ngIf="currentUser?.username === comment.user.username" class="font-bold ml-1 text-base py-0 px-2 bg-indigo-500 text-white rounded">you</div>
                    <span class="font-medium text-slate-500 ml-3">
                        {{comment.createdAt}}
                    </span>
                </div>
                <div class="hidden md:block">
                    <div *ngIf="currentUser?.username !== comment.user.username" class="flex items-center pr-2 cursor-pointer hover:opacity-70">
                        <svg class="mr-2" width="14" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M.227 4.316 5.04.16a.657.657 0 0 1 1.085.497v2.189c4.392.05 7.875.93 7.875 5.093 0 1.68-1.082 3.344-2.279 4.214-.373.272-.905-.07-.767-.51 1.24-3.964-.588-5.017-4.829-5.078v2.404c0 .566-.664.86-1.085.496L.227 5.31a.657.657 0 0 1 0-.993Z" fill="#5357B6"/></svg>
                        <span (click)="toggleReplyMode(comment.user.username)" class="font-bold text-indigo-700">Reply</span>
                    </div>
                    <div *ngIf="currentUser?.username === comment.user.username" class="flex flex-row-reverse pr-2">
                        <div (click)="toggleEditMode()" class="flex items-center cursor-pointer hover:opacity-70">
                            <svg class="mr-2" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M13.479 2.872 11.08.474a1.75 1.75 0 0 0-2.327-.06L.879 8.287a1.75 1.75 0 0 0-.5 1.06l-.375 3.648a.875.875 0 0 0 .875.954h.078l3.65-.333c.399-.04.773-.216 1.058-.499l7.875-7.875a1.68 1.68 0 0 0-.061-2.371Zm-2.975 2.923L8.159 3.449 9.865 1.7l2.389 2.39-1.75 1.706Z" fill="#5357B6"/></svg>
                            <span class="font-bold text-indigo-700">Edit</span>
                        </div>
                        <div class="flex items-center mr-4 cursor-pointer hover:opacity-70">
                            <svg class="mr-2" width="12" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M1.167 12.448c0 .854.7 1.552 1.555 1.552h6.222c.856 0 1.556-.698 1.556-1.552V3.5H1.167v8.948Zm10.5-11.281H8.75L7.773 0h-3.88l-.976 1.167H0v1.166h11.667V1.167Z" fill="#ED6368"/></svg>
                            <span (click)="isReply ? emitDeleteReply() : deleteComment()" class="font-bold text-red-500">Delete</span>
                        </div>
                    </div>
                </div>
            </div>
            <p *ngIf="!editMode" class="font-medium text-slate-600 my-3"><span *ngIf="comment.replyingTo" class="font-bold text-indigo-700">@{{comment.replyingTo}} </span>{{comment.content}}</p>
            <textarea *ngIf="editMode" [(ngModel)]="comment.content" placeholder="Add a comment..." name="addComment" id="addComment" rows="3" class="my-3 w-full rounded-md border border-slate-200 hover:border-black p-2 resize-none"></textarea>
            <div *ngIf="editMode" class="flex justify-end">
                <button (click)="isReply ? emitEditReply() : editComment()" [disabled]="!currentUser" class="px-5 py-3 bg-indigo-500 hover:bg-indigo-500/50 disabled:bg-indigo-500/50 text-white font-black rounded-lg">UPDATE</button>
            </div>
            <div class="flex justify-between md:hidden">
                <div class="flex justify-between items-center bg-slate-100 text-indigo-700 font-bold px-3 py-2 rounded-xl">
                    <div (click)="increaseScore()" class="mr-4 cursor-pointer">
                        <svg class="control-icon"  width="11" height="11" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.33 10.896c.137 0 .255-.05.354-.149.1-.1.149-.217.149-.354V7.004h3.315c.136 0 .254-.05.354-.149.099-.1.148-.217.148-.354V5.272a.483.483 0 0 0-.148-.354.483.483 0 0 0-.354-.149H6.833V1.4a.483.483 0 0 0-.149-.354.483.483 0 0 0-.354-.149H4.915a.483.483 0 0 0-.354.149c-.1.1-.149.217-.149.354v3.37H1.08a.483.483 0 0 0-.354.15c-.1.099-.149.217-.149.353v1.23c0 .136.05.254.149.353.1.1.217.149.354.149h3.333v3.39c0 .136.05.254.15.353.098.1.216.149.353.149H6.33Z" fill="#C5C6EF"/>
                        </svg>
                    </div>
                    <span>{{comment.score}}</span>
                    <div (click)="decreaseScore()" class="cursor-pointer ml-4">
                        <svg class="control-icon" width="11" height="3" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.256 2.66c.204 0 .38-.056.53-.167.148-.11.222-.243.222-.396V.722c0-.152-.074-.284-.223-.395a.859.859 0 0 0-.53-.167H.76a.859.859 0 0 0-.53.167C.083.437.009.57.009.722v1.375c0 .153.074.285.223.396a.859.859 0 0 0 .53.167h8.495Z" fill="#C5C6EF"/>
                        </svg>
                    </div>
                </div>
                <div *ngIf="currentUser?.username !== comment.user.username" class="flex items-center pr-2 cursor-pointer hover:opacity-70">
                    <svg class="mr-2" width="14" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M.227 4.316 5.04.16a.657.657 0 0 1 1.085.497v2.189c4.392.05 7.875.93 7.875 5.093 0 1.68-1.082 3.344-2.279 4.214-.373.272-.905-.07-.767-.51 1.24-3.964-.588-5.017-4.829-5.078v2.404c0 .566-.664.86-1.085.496L.227 5.31a.657.657 0 0 1 0-.993Z" fill="#5357B6"/></svg>
                    <span (click)="toggleReplyMode(comment.user.username)" class="font-bold text-indigo-700">Reply</span>
                </div>
                <div *ngIf="currentUser?.username === comment.user.username" class="flex flex-row-reverse pr-2 md:hidden">
                    <div (click)="toggleEditMode()" class="flex items-center cursor-pointer hover:opacity-70">
                        <svg class="mr-2" width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M13.479 2.872 11.08.474a1.75 1.75 0 0 0-2.327-.06L.879 8.287a1.75 1.75 0 0 0-.5 1.06l-.375 3.648a.875.875 0 0 0 .875.954h.078l3.65-.333c.399-.04.773-.216 1.058-.499l7.875-7.875a1.68 1.68 0 0 0-.061-2.371Zm-2.975 2.923L8.159 3.449 9.865 1.7l2.389 2.39-1.75 1.706Z" fill="#5357B6"/></svg>
                        <span class="font-bold text-indigo-700">Edit</span>
                    </div>
                    <div (click)="isReply ? emitDeleteReply() : deleteComment()" class="flex items-center mr-4 cursor-pointer hover:opacity-70">
                        <svg class="mr-2" width="12" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M1.167 12.448c0 .854.7 1.552 1.555 1.552h6.222c.856 0 1.556-.698 1.556-1.552V3.5H1.167v8.948Zm10.5-11.281H8.75L7.773 0h-3.88l-.976 1.167H0v1.166h11.667V1.167Z" fill="#ED6368"/></svg>
                        <span class="font-bold text-red-500">Delete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="pl-3 border-l-2 border-slate-200 mt-2">
    <app-single-comment *ngFor="let replyComment of comment.replies"
                        [comment]="replyComment"
                        [currentUser]="currentUser"
                        (editReplyEvent)="editReply($event)"
                        (deleteReplyEvent)="deleteReply($event)"
                        (replyEvent)="reply($event)"
                        [isReply]="true">
    </app-single-comment>
</div>
<div *ngIf="replyMode" class="-mt-1 mb-2">
  <app-reply-comment [replyingTo]="replyingTo" [replyTo]="comment" [currentUser]="currentUser" (replyEvent)="reply($event)"></app-reply-comment>
</div>
