<div class="bg-white border-slate-100 border-2 rounded-lg p-3">
    <textarea placeholder="Add a comment..." name="addComment" id="addComment" rows="3" class="w-full rounded-md border border-slate-200 caret-black p-2 resize-none"></textarea>
    <div class="flex justify-between items-center mt-3">
        <div class="w-8">
            <img src="../../../assets/images/avatars/image-amyrobson.png" alt="avatar image" class="w-full h-auto">
        </div>
        <button class="px-8 py-3 bg-indigo-500 hover:bg-indigo-500/50 text-white font-black rounded-lg">SEND</button>
    </div>
</div>
