<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-700 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-xs sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-0 text-left">
            <h3 class="text-lg leading-6 font-bold" id="modal-title">Delete comment</h3>
            <div class="mt-2">
              <p class="text-sm font-medium text-gray-500">Are you sure you want to delete this comment? this will remove the comment and can't be undone.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 pb-5 px-6 flex justify-center">
        <button type="button" class="inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-0 w-1/2 text-sm font-bold">NO, CANCEL</button>
        <button type="button" class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-400 text-base text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 ml-3 w-1/2 text-sm font-bold">YES, DELETE</button>
      </div>
    </div>
  </div>
</div>
